// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 3px solid black;
	max-width: 100%;
}

html, body {
	height: 100%;
	// width:95%
	// display:flex;
	// justify-content:center;
	// font-size: 62.5%;
}


// Variables

@boxcolor: lightseagreen;
@btncolor: lightgreen;

//Mixin
.coladj{
	display: flex;
	flex-direction: column;
}

.titleheader{
	font-size:1.4rem;
	line-height:2;

}



.container{
	// display: flex;
	// flex-direction: column;
	width:90%;
	max-width: 100%;
	// justify-content: center;
	// align-items: center;
	margin:0 auto;

}

// Header Elements


.container .header{
	display:flex;
	width:100%;
	//  flex-direction: row-reverse;
	justify-content: flex-end;
	padding: 2% 0;

	@media (max-width:500px){
	
		display: flex;
		flex-direction: column-reverse;
		width:   100%;
		height: 30vh;
		/* margin:25% 0; */
		// padding:4% 0;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;

		
	}
	





	nav{
		display: flex;
		width: 30%;
		// justify-content: space-between;
		// align-items: flex-end;
		justify-content: space-between;
		margin: left;
		// padding: 2% 0;

		a{
			// display:flex;
			
			width:14%;
			// justify-content: space-between;
			color: grey;
		}//this closes the links
	}//this closes the nav
}//this closes the header





// Top Section Elements

.container .top{
	.coladj();
	background-color:@boxcolor;
	// height: 70vh;
	width:100%;
	// align-content: center;
	// padding: 5% 4% 7% 4%;
	padding:4%;



	p{
		display: flex;
		width: 90%;
		padding: 2% 0;
		font-size: 1.1rem;
	
	}//this closes the paragraph tag

	button{
		background-color: @btncolor;
		font-size: 1.2rem;
		padding: 1% 2%;
	}//this closes the button

	.toptop{
		border-bottom: 1px solid black;
		padding-bottom: 2%;

		img{

			width:35%;
		}//this closes the image

		h1{
			font-size: 4rem;
		}//this closes the h1
		
		h4{
			font-size: 1.5rem;
		}//this closes the h4


	}//this closes the very top section



}

// Middle Section Elements

.container .middle{
	display: flex;
	width:100%;
	justify-content: space-between;

	padding: 2% 0;

}

.container .middle .words{
	.coladj();
	width: 45%;
	// padding: 2% 0;
}
.words h2{
	font-size:2rem;
	line-height: 2;
}

.words 	p{
	display: flex;
	// width: 90%;
	// padding: 2% 0;
	font-size: 1.1rem;

}//this closes the paragraph tag
.container .middle .list{
	.coladj();
	width: 45%;
}

.container .middle .list h3 {
	.titleheader();
}

.container .middle .stuff{
	.coladj();

}

.container .middle .stuff li{
	.coladj();
	width:100%;
	border:1px solid gray;
	padding:2% 1%;
}


// Bottom Section Elements
.container .bottom h3 {
	.titleheader();

}

.container .bottom .work{
	display:flex;
	// flex-direction: column;
	width:100%;
	justify-content: space-evenly;
	padding:2% 0;
}

.work ul .title{
	font-weight: bold;
}


.container .bottom .work ul{
	.coladj();
	width:25%;
	border-bottom: 1px solid lightgray;
	



}

.container .bottom .work ul li{	
	padding:3% 0;
	border-bottom: 1px solid lightgray;
}

.white{
	background-color: white;
}

.gray{
	background-color: lightgray;
}


// Footer
.container footer{
	width:100%;
	text-align: center;
	margin: 3% 0;
	padding: 3% 0;
}


ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;
		padding: 0 0.75rem 0 0;

		&:last-child {
			padding-right: 0;
		}
	}
}

//media queries

@media (max-width:500px){


      .container header nav {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // padding-bottom:3%;
        /* padding-top:0%; */
        margin:0;
	  }
	  .container header div{
        display:flex;
        justify-content: center;
        width:100%;
        border-bottom: 1px solid black;


    }
      .container header nav a{
        display:flex;
        width:100%;
        justify-content: center;
        padding: 3% 0;
        border-bottom: 1px solid black;

      }
	img{
		display:none;
	}

}










